* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: "Fira Code", serif;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 58px;
}

h2 {
    font-weight: 500;
    font-size: 37px;
}
 
a {
    text-decoration: none;
}

span {
    color: white;
}

ul {
    list-style: none; /* Remove o marcador de lista */
    padding: 0; /* Remove o preenchimento */
    margin: 0; /* Remove a margem */
}


#ceu-estrelado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.estrela {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out;
}

.estrela-cadente {
    width: 170px;
    height: 2px;
    display: block;
    background-image: linear-gradient(to right, white, transparent);
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    animation: shoot 2s linear infinite;
    opacity: 0;
    transform: rotateZ(-45deg);
}

.estrela-cadente::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 0 6px #fff;
    border-radius: 50px;
}

#foto-avatar{
    padding: 0;
    width: 240px;
    border: 6px solid #00D0FF;
    border-radius: 50%;
    position: sticky;
}

.rede-social:hover{
    cursor: pointer;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    transition: 0.5s;
}

.link{
    color:white;
}

@keyframes shoot {
    0% {
        transform: translate(200px, -100px) rotate(-45deg);
        opacity: 1;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        transform: translate(-600px, 600px) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}
