* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    font-family: "Fira Code", serif;
    color: white;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}

h1 {
    font-weight: 600;
    font-size: 58px;
}

h2 {
    font-weight: 500;
    font-size: 37px;
}
 
a {
    text-decoration: none;
}

span {
    color: white;
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.border{
    border: 1px solid white;
}

.border-radius-10{
    border-radius: 10px;
}

#ceu-estrelado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#ceu-estrelado > .estrela {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out;
}

#ceu-estrelado > .estrela-cadente {
    width: 170px;
    height: 2px;
    display: block;
    background-image: linear-gradient(to right, white, transparent);
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    animation: shoot 2s linear infinite;
    opacity: 0;
    transform: rotateZ(-45deg);
}

#ceu-estrelado > .estrela-cadente::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 0 6px #fff;
    border-radius: 50px;
}

#foto-avatar{
    padding: 0;
    width: 240px;
    border: 6px solid #00D0FF;
    border-radius: 50%;
    position: sticky;
}

.rede-social{
    color: #b3b3b3;
    cursor: pointer;
}

.rede-social > #git-hub:hover{
    color: white;
    transition: 0.5s;
}

.rede-social > #linkedin:hover{
    color: blue;
    transition: 0.5s;
}

.rede-social > .whatsapp:hover{
    color: green;
    transition: 0.5s;
}

.rede-social > #email:hover{
    color: rgb(100, 28, 28);
    transition: 0.5s;
}

#menu{
    margin-top: 1rem;
    margin-bottom: 4.8rem;
}

#menu > li > .link{
    display: flex;
    align-items: center;
    color:white;
    font-size: 30px;
    gap: 20px;
    padding-bottom: 5px;
}

#menu > li > .link:hover{
    color: #00D0FF;
    transition: 0.5s;
}

.card-w-260 {
    width: 260px;
    height: 345px;
    border: 1px solid white;
    border-radius: 10px;
}

.card-w-340{
    width: 340px;
    height: 320px;
    border: 1px solid white;
    border-radius: 10px;
}

.card-w-260:hover{
    border-color: #00D0FF;
    transition: 0.5s;
}

.card-w-340:hover{
    border-color: #00D0FF;
    transition: 0.5s;
}

.card-img-interrogacao {
    width: 90%;
}

.section{
    margin-top: 5rem;
    margin-bottom: 12rem;
}


#span-sobre{
    font-weight: 600;
}

.marquee {
    overflow: hidden;
    position: relative;
    mask: linear-gradient(to right, transparent, white 5%, white 95%, transparent);
}
  
.marquee > .marquee-content{
    display: inline-flex;
    animation: marquee 10s linear infinite;
    gap: 20px;
}

.marquee-content > .imagem-ferramenta {
    height: 70px;
    width: 70px;
    flex-shrink: 0;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes shoot {
    0% {
        transform: translate(200px, -100px) rotate(-45deg);
        opacity: 1;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        transform: translate(-600px, 600px) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}
